.leaderboard {
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  margin: 5rem auto 0 auto;
  padding: 0.5rem;
}
